.center{
  text-align: center;
}

h1{
  color: red;
  text-align: center;
}

h2{
  color: blue;
  font-size: 4vw;
  margin-bottom: 1vw;
  margin-top: 5vw;
}

.container{
  padding: 2vw;
  border-width: 2vw;
  border-color: brown;
  border-radius: 4%;
  border-style: solid;
  text-align: center;
  background-color: bisque;
}

button{
  width: 15vw;
  font-size: 2vw;
}

.current{
  background-color: red;
  width: 50%;
  margin: auto;
  font-size: 2vw;
}

#current1, #current2{
  font-size: 4vw;
  color:white;
}

#score1, #score2{
  /* border: 1px solid blue; */
  display: block;
  padding: 0;
  height: 2vm;

  margin-top: 0;
  font-size: 12vW;
  color:red;
}

#dice{
  display:block;
  border: 3px black solid;
  border-radius: 10px;
  height:100px;
  width:100px;
  margin-top: 8vw;
  margin-bottom: 8vw;
  margin-left: auto;
  margin-right: auto;
  font-size:7vw;
  /* background-image: url("IMG/d-0.png"); */
  background-size: 100%;
  background-color: black;
}

.d0{
  background-image: url("IMG/d-0.png")
}
.d1{
  background-image: url("IMG/d-1.png")  
}
.d2{
  background-image: url("IMG/d-2.png")  
}
.d3{
  background-image: url("IMG/d-3.png")  
}
.d4{
  background-image: url("IMG/d-4.png")  
}
.d5{
  background-image: url("IMG/d-5.png")  
}
.d6{
  background-image: url("IMG/d-6.png")  
}

