/* import Google LATO font */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;1,300');

/* BOOTSTRAP ICONS FOR BUTTONS */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

/* as required, LATO font */
html{
  font-family: 'Lato', sans-serif;
}

/* put some color on icons */
i{
  margin: 5px;
  color: chartreuse;
}

.center{
  text-align: center;
}

h1{
  color: red;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-style: italic;
}

.player1, .player2{
  width: 5em;
  border-style: inset;
  border-width: 3px;
  border-color: rgb(241, 128, 21);
  border-radius: 5px;
  color: grey;
  background-color: rgb(156, 156, 156);
  font-size: 4vw;
  font-weight: bolder;
  margin-bottom: 1vw;
  margin-top: 5vw;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}
.activePlayer{
  background-color: rgb(246, 180, 106);
  color:blue
}

.container{
  display: flex;
  padding: 2vw;
  border-width: 2vw;
  border-color: brown;
  border-radius: 4%;
  border-style: solid;
  text-align: center;
  background-color: bisque;
  margin: 2%;
}

.colPlayer{
  flex: 1;
}

/* DESIGNING THE BUTTONS */
.colButton{
  width:140px;
}
button{
  display: block;
  width: 15vw;
  min-width: 130px;
  height: 8vh;
  font-size: 90%;
  font-weight: bolder;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2vh;
  text-align: center;
  overflow-wrap: break-word;
  border-radius: 25%;
  border: 4px double #cccccc;
  background-color: brown;
  color: gold;
  cursor:pointer;
}
button:hover{
  box-shadow: 0px 0px 5px 3px gold;
  color: yellow;
  transform: scale(104%) ;
}
#btonNewGame{
  color:white;
}
#btonNewGame:hover{
  transform: scale(125%) ;
}

/* SCORE TO WIN */
#stw{
  font-weight: bold;
  font-size: large;
}
#scoreToWin{
  background-color: yellow;
  font-size: large;
}

/* CURRENT SCORES */
.current{
  display:inline-block;
  background-color: red;
  margin: auto;
  margin-top: 8vh;
  font-size: 2vw;
  height: 9vw;
  vertical-align: middle;
  padding: 5% 5% 0 5%;
  font-weight: bolder;
}
#current1, #current2{
  font-size: 5vw;
  color:white;
  font-family: 'Lato', sans-serif;
}
#score1, #score2{
  /* border: 1px solid blue; */
  display: block;
  padding: 0;
  height: 2vm;
  margin-top: 0;
  font-family: Lato, sans-serif;
  font-size: 10vW;
  font-weight: 200;
  color:red;
}

/* DICE SHOW */
#dice{
  display:block;
  border: 3px black solid;
  border-radius: 10px;
  height:100px;
  width:100px;
  margin-top: 8vw;
  margin-bottom: 8vw;
  margin-left: auto;
  margin-right: auto;
  font-size:7vw;
  background-size: 100%;
  background-color: rgb(30, 18, 0);
}
.d0{
  background-image: url("IMG/d-0.png")
}
.d1{
  background-image: url("IMG/d-1.png")  
}
.d2{
  background-image: url("IMG/d-2.png")  
}
.d3{
  background-image: url("IMG/d-3.png")  
}
.d4{
  background-image: url("IMG/d-4.png")  
}
.d5{
  background-image: url("IMG/d-5.png")  
}
.d6{
  background-image: url("IMG/d-6.png")  
}

#help{
  display: block;
  padding: 2vw;
  border-width: 2vw;
  border-color: brown;
  border-radius: 4%;
  border-style: solid;
  text-align: left;
  background-color: bisque;
  margin: 2%;
}